# Python
__pycache__/
**/__pycache__/
*/__pycache__/*
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
.dist
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
owl/data
owl/tmp
owl/.env
owl/utils/__pycache__/
data/
results/
tmp/



# Logs
*.log
logs/
log/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

owl/camel/types/__pycache__/
owl/camel/__pycache__/
owl/camel/utils/__pycache_/

03.pdf.md
5Table.pdf.md
76.pdf.md
188_IJAR-26303.pdf.md
366e2f2b-8632-4ef2-81eb-bc3877489217.pdf.md
2023-1-23-franklin-foxboro-line-fall-winter-schedule-accessible.pdf.md
2024.emnlp-main.505.pdf.md
Atalanta_41_0335-0347.pdf.md
a3fbeb63-0e8c-4a11-bff6-0e3b484c3e9c.pptx.md
Canned_Grapefruit_Juice_Standard[1].pdf.md
census2011final_en.pdf.md
cffe0e32-c9a6-4c52-9877-78ceb4aaa9fb.docx.md
Dehydrated_Apples_Standard[1].pdf.md
DOCKER_README_en.md
Dehydrated_Grapefruit_Juice_Standard%5B1%5D.pdf.md
doctor-who-s9-ep11-heaven-sent-steven-moffat.pdf.md
e9a2c537-8232-4c3f-85b0-b52de6bcba99.pdf.md
eisele_donn.pdf?emrc=4e176f.md
fiedler_2002.pdf.md
Frozen_Apples_Standard%5B1%5D.pdf.md
IPCC_AR6_SYR_LongerReport.pdf
Job Listing.pdf.md
LAUQLO.pdf.md
output.html
results/result_level1.json
Canned_Grapefruit_Juice_Standard[1].pdf.md
Dehydrated_Apples_Standard[1].pdf.md
DOCKER_README_en.md
output.json
output.md
output.txt
README_zh.md
sample_enwiki.xml
srep00914.pdf.md
test.py
twitter_x_references_sample.json
U12400.pdf.md
unitedstatesstan14unit_4.pdf.md